.navbar.bg-danger
  .container-fluid
    .d-flex.align-items-center
      .navbar-brand.fs-2= link_to 'MiniBlog', root_path, class: 'text-decoration-none text-white'
    %ul.navbar-nav.ms-auto
      - if user_signed_in?
        %li.nav-item.d-flex.align-items-center
          .me-3= link_to current_user.name, profile_path, class: 'text-white fs-5 text-decoration-none'
          = button_to 'ログアウト', destroy_user_session_path, method: :delete, data: { turbo: false, confirm: t('views.common.confirm.destroy') },class: 'btn btn-danger border-white'
      - else
        %li.nav-item
          = link_to 'ログイン', new_user_session_path, class: 'btn btn-primary'
